html, body {
margin: 0;
padding: 0;
font-family: 'Helvetica Neue', 'Roboto', sans-serif;
font-size: 1em;
line-height: 1.6em;
box-sizing: border-box;
color: #38424B;
letter-spacing: .6px
}

* {
box-sizing: border-box
}

h1, h2, h3 {
color: #1abc9c
}

h5 {
font-weight: 300
}

h2 {
font-size: 1.8em
}

h3 {
font-size: 1.7em
}

img.zoom-in {
cursor: zoom-in
}

a {
cursor: pointer !important;
text-decoration: none;
color: inherit
}

.reading-width {
max-width: 70vw
}

@media all and (max-width: 1000px) {
.reading-width {
max-width: 90vw
}


}

@media all and (max-width: 700px) {
.reading-width {
max-width: 100vw
}


}

.header {
width: 100%;
padding: 0 1.5em;
border-bottom: 1px solid #ccc
}

.header .wrapper {
margin: 0 auto;
width: 100%;
text-align: left;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
line-height: 2em
}

.header .wrapper .page-title: hover {
color: #00896e
}

.header .wrapper ul.nav {
justify-content: space-between;
list-style-position: inside;
list-style: none;
padding: 0;
font-size: 1.2em
}

.header .wrapper ul.nav li {
display: inline-block;
margin: 0 .3em;
padding: 0;
list-style-position: outside;
cursor: pointer
}

.header .wrapper ul.nav li a {
color: #38424B;
padding-bottom: 5px
}

.header .wrapper ul.nav li a: hover {
color: #686868
}

.header .wrapper ul.nav li.active a {
border-bottom: 3px solid #1abc9c
}

@media all and (max-width: 20em) {
.header .wrapper {
display: block
}

.header .wrapper ul.nav {
display: block
}


}

.hero {
width: 100%;
min-height: 600px;
max-height: 600px;
background-color: #ccc
}

.hero img {
width: 100%;
max-height: 100%
}

@media all and (max-height: 700px) {
.hero {
min-height: 400px;
max-height: 400px
}


}

@media all and (max-height: 500px) {
.hero {
min-height: 300px;
max-height: 300px
}


}

@media all and (max-width: 1000px) {
.hero {
min-height: 300px;
max-height: 300px
}


}

.content {
width: 100%;
padding: 0 1.5em 0 1.5em;
font-size: 20px;
line-height: 1.6em
}

.content .wrapper {
margin: 0 auto;
text-align: left
}

.blog-list .posts {
width: 100%
}

.blog-list .posts .post-date {
font-size: .8em;
color: #666;
margin-top: 10px;
margin-bottom: 10px
}

.blog-list .posts .post-preview {
width: 100%;
font-size: 20px;
font-weight: 300
}

.blog-list .posts .post-preview .post-preview-wrapper {
margin: 0 auto;
padding: 1em
}

.blog-list .posts .post-preview .post-preview-wrapper .preview {
margin-bottom: 20px;
line-height: 1.6em
}

.blog-list .posts .post-preview .post-preview-wrapper .preview a {
color: #1abc9c;
cursor: default
}

.blog-list .posts .post-preview .post-preview-wrapper .preview a: hover {
color: #00896e
}

.blog-list .posts .post-preview .post-preview-wrapper .post-title {
margin-bottom: 0 !important
}

.blog-list .posts .post-preview .post-preview-wrapper .post-title a {
font-size: 1.3em;
line-height: 1.1em
}

.blog-list .posts .post-preview .post-preview-wrapper .post-title a: hover {
color: #00896e
}

.blog-list .posts .post-preview .post-preview-wrapper .readmore {
color: #1abc9c
}

.blog-list .posts .post-preview .post-preview-wrapper .readmore: hover {
color: #00896e
}

.blog-list .posts .post-preview: nth-child(even) {
background-color: #f5f5f5
}

.blog-list .posts .pagination {
margin: 0 auto;
text-align: center
}

.blog-list .posts .pagination h3 {
display: inline-block
}

.blog-list .posts .pagination a {
color: #1abc9c
}

.blog-list .posts .pagination a: hover {
color: #00896e
}

.blog-list, .content, article {
min-height: 66.1vh
}

article {
width: 100%;
padding: 0 1.5em 0 1.5em
}

article .wrapper {
margin: 0 auto;
text-align: left
}

article .wrapper h1 {
font-size: 3.5em;
line-height: 1em
}

article .wrapper .post-title {
margin-bottom: 0
}

article .wrapper .post-date {
font-size: 1em;
color: #666;
margin-top: 10px;
margin-bottom: 10px
}

article .wrapper .post-content {
font-size: 20px;
line-height: 1.6em;
color: #38424B
}

article .wrapper .post-content img {
margin: 0 auto;
display: block;
vertical-align: middle;
height: auto;
padding: 10px 0;
max-width: 100%
}

article .wrapper .post-content img.left {
display: inline-block;
float: left;
padding: 10px
}

article .wrapper .post-content h2, article .wrapper .post-content h3, article .wrapper .post-content h4, article .wrapper .post-content h5, article .wrapper .post-content h6 {
margin-top: 50px
}

article .wrapper .post-content a {
text-decoration: none;
color: #1abc9c
}

article .wrapper .post-content a: hover {
color: #00896e
}

footer {
width: 100%;
min-height: 100px;
background-color: #1abc9c;
margin-top: 50px;
color: #FFFFFF
}

footer .wrapper {
margin: 0 auto;
text-align: center;
line-height: 50px;
font-size: 1.2em
}

pre {
display: block;
color: #2E2E2E;
margin: 10px 0;
font-family: monospace;
background-color: #F5F5F5;
padding: 10px;
border-radius: 5px;
border: 1px solid #e3e3e3;
overflow-x: auto
}

pre code {
background-color: transparent !important;
white-space: pre
}

blockquote {
font-size: 19px;
margin: 10px 0 0 25px;
padding: 0 0 0 15px;
border-left: 3px solid #1abc9c
}

blockquote p {
display: inline-block;
margin: 0;
padding: 0
}

blockquote: before, blockquote: after {
font-size: 3em;
color: #CCCCCC;
line-height: .1em;
vertical-align: -0.4em
}

blockquote: before {
content: open-quote;
margin-right: .25em
}

blockquote: after {
content: close-quote;
margin-left: .25em
}

#greeting-msg {
font-size: 5em;
line-height: 1
}

@media all and (max-width: 700px) {
#greeting-msg {
font-size: 3em
}


}

.accent {
color: #1abc9c;
cursor: default
}

.accent: hover {
color: #00896e
}

.second-accent {
color: #A81E1E;
cursor: default
}

a.second-accent: hover {
text-decoration: underline
}

.accent-no-hover {
color: #1abc9c;
cursor: default
}

.about-intro {
font-size: 1.5em;
line-height: 1.6em
}

.about {
margin-top: 20px
}

.overlay-hover: hover {
opacity: .5
}

.project {
margin: 50px 0
}

.project .project-title {
font-size: 1.4em
}

.project .project-title .languages {
font-size: .5em;
color: #4D4545;
font-weight: 400
}

.project .project-description {
margin: 10px 0
}

.project .project-links {
margin-top: 10px
}

iframe {
width: 100%;
border: 1px solid #666;
border-radius: 5px;
padding: 10px;
background-color: transparent
}

code {
font-family: Courier New, monospace;
white-space: pre
}

